.fullimgWrapper {
  position: relative;
  overflow: hidden; 
}
.image-container{
  opacity: 0.8;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.528)), url('/images/full.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 10vh;

}


.heading {

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: rgb(255, 255, 255);
}

/* .heading h1{
  font-weight:500;
  font-size: 10rem;

  letter-spacing: -2px;
  text-shadow:
  0px 0px 0 rgba(255,255,255,.5),
  1px 1px 0 rgba(255, 255, 255, 0.205),
  2px 2px 4px rgba(255, 255, 255, 0.521),
  2px 2px 4px rgba(41, 41, 41, 0.479);
} */

.heading h1{
  font-weight:500;
  font-size: 10rem;
  background-color: #f3ec78;
  background-image: radial-gradient(#9fa7c4, #d4ce97);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  letter-spacing: -3px;
}

.heading p{
  color: rgb(206, 206, 206);
  font-family: "Satisfy", cursive;
  text-align: center;
  font-size: 2rem;
  margin-top:10px;
}


.content-dragdrop{
  margin-top: 8rem;
  text-align: center;
  color: #8ba3b8;
  font-size: 2rem;
  z-index: -2000;
}

.display input{
  font-size: 15px;
}


.audio_form {
  color: #000000;
  background-color: #c9dbde;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  min-height: 20rem;
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border: 2px #3182ce;
  margin: 5rem auto;
  z-index: -1;
}


form.dragActive {
  background-color: #243c54;
}

input.hidden {
  display: none;
}

p {
  margin-bottom: 10px;
}

span.cursor-pointer {
  cursor: pointer;
  color: #296993;
  font-weight: 800;
}

div.files-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

div.files-container div {
  display: flex;
  /* flex-row: space-x-5; */
  margin-bottom: 5px;
}

span.text-red-500 {
  cursor: pointer;
  color: #e53e3e;
}

.display{
  display: flex;
  align-items: center;
}
.btn{
  margin-top: 10px;
  background: #63b3ed;
  padding: 12px 22px;
  border-radius: 1em;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #111;
  cursor: pointer;
}
.btn:hover{
  background: #3182ce;
  color: #fff;
}

.prediction{
  color: #243c54;
  background-color: #8ba3b8;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  white-space: pre-wrap;
  margin-bottom: 4rem;
}

.play_audio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.play_audio p{
  color:#8ba3b8;
  font-size: 20px;
  margin-top: 5px;
}



.prediction h3{
  font-size: 1.5rem;
  margin-bottom: 1rem ;
}

.prediction-box pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;

}

.audio_form p{
  font-size: 1.5rem;
}

.audio_form .btn{
  margin-top: 25px;
}

.note {
  margin-right: 10px;
  margin-bottom: 10px;
}

.note-gap {
  visibility: hidden;
}

@media screen and (max-width:850px) {
  .play_audio{
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .note {
    margin-right: 5px; 
  }
  .heading h1{
    font-size: 6rem;
    font-family: "Work Sans", sans-serif;
  }  
  .heading p{
    font-size: 1.5rem;
  }
  .content-dragdrop{
    font-size: 1.75rem;
  }
  .audio_form .drag{
    font-size: 1.25rem;
  }
 
}

@media screen and (max-width: 500px) {
   .heading h1{
  font-size: 4rem;
  }
  .content-dragdrop{
    font-size: 1.5rem;
  }
  .heading p{
    font-size: 1rem;
  }
  .play_audio{
    width: 70%;
  }
}
