.background-container{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.596)), url('/images/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 10vh;
}

.contact-us-container{
  margin-left: 5vh;
  padding-top: 20vh;
  color: white;
}
.contact-us-container h2{
  font-weight:bolder;
  font-size: 4rem;
  padding-bottom: 5vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 60vh;
}

.innerform-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0;
}

label {
  margin-bottom: 8px;
}

.form-container input,
textarea {
  font-size: 2.5vh;
  margin-bottom: 16px;
  padding: 8px;
  width: 60vh;
  background-color: #18222e;
  border: none;
  border-radius: 0.5rem;
  height: 6vh;
  color: white;
}

.form-container textarea{
  width: 60vh;
  height: 12vh;
}

.form-container button {
  padding: 10px;
  background-color: #648eb2;
  max-width: 20vh;
  color: rgb(255, 255, 255);
  border: none;
  margin: auto;
  font-size: 3vh;
  font-weight: 400;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.form-container button:hover{
  background-color: #8ba3b8;
  box-shadow: 0 0 10px #141d23;
}